* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family:  sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 10%; */
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
/* .headers{
    display:flex;
    justify-content: left;

} */
.container .headers{
    text-align: left;
    padding :5px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 80;
    color:rgb(77, 4, 172);
  }
.container {
  display: flex;
  justify-content: center;
  /* height:75dvh; */
  margin:10% 30%;
  height:100%;
  width:100%;
  background-color: white;
}
.container form{
    padding: 30px 0 0 0;
  }
  .container form .form-row{
    display:flex;

    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 5dvh;
    margin: 0 20px;
    position: relative;
}
.input-data ::placeholder{
    position: absolute;
    pointer-events: none;
    bottom: 2dvh;
    font-size: 16px;
    color:rgb(77, 4, 172);
}
  .input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.area{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
}

.submit{
  margin-left: 30%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5dvh;
  width: 20dvh;
  background-color:darkblue;
  border-radius: 20dvh;
  color:white;
}
.thanks{
  color: green;
  margin:3dvh 2dvh;
  margin-top: 1dvh; 
}
@media (max-width: 700px) {
  .container .headers{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit .input-data{
    width: 40%!important;
  }
}